
<div id="sk-div" class="container-fluid" *ngIf="tecnologias && tecnologias.length > 0">
    <h3 id="sk-title">Tecnologías</h3>
    <div>
        <!-- HTML -->
        <div class="circle-card" *ngIf="tecnologias[0].idTecnologia != null">
            <div class="circle-wrap">
                <div class="circle">
                    <div class="mask full-1">
                        <div class="fill-1"></div>
                    </div>
                    <div class="mask half">
                        <div class="fill-1"></div>
                    </div>
                    <div class="inside-circle">
                        <div #sk_ci_pe1>{{tecnologias[0].nivel}}</div>
                        <button class="btn-edit-inside" style="margin-left: 30px;" (click)="onRemovePerc(sk_ci_pe1)" *ngIf="isAdmin"><img src="../assets/delete-icon.png" class="img-fluid" alt="edit-icon"></button>
                        <button class="btn-edit-inside" style="margin-left: 55px;" (click)="onEdit(sk_ci_pe1)" *ngIf="isAdmin"><img src="../assets/edit-icon.png" class="img-fluid" alt="edit-icon"></button>
                    </div>
                </div>
                <h4 #sk_ci_na1 id="sk-ci-na1" class="circle-name">{{tecnologias[0].nombreTecnologia}}</h4>
                <button class="btn-edit-skill" (click)="onRemoveSkill(sk_ci_na1)" *ngIf="isAdmin"><img src="../assets/delete-icon.png" class="img-fluid" style="margin-left: 35px;" alt="edit-icon"></button>
                <button class="btn-edit-skill" (click)="onEdit(sk_ci_na1)" *ngIf="isAdmin"><img src="../assets/edit-icon.png" class="img-fluid" alt="edit-icon"></button>
            </div>
        </div>
        <!-- CSS -->
        <div class="circle-card" *ngIf="tecnologias[1].idTecnologia != null">
            <div class="circle-wrap">
                <div class="circle">
                    <div class="mask full-2">
                        <div class="fill-2"></div>
                    </div>
                    <div class="mask half">
                        <div class="fill-2"></div>
                    </div>
                    <div class="inside-circle">
                        <div #sk_ci_pe2>{{tecnologias[1].nivel}}</div>
                        <button class="btn-edit-inside" style="margin-left: 30px;" (click)="onRemovePerc(sk_ci_pe2)" *ngIf="isAdmin"><img src="../assets/delete-icon.png" class="img-fluid" alt="edit-icon"></button>
                        <button class="btn-edit-inside" style="margin-left: 55px;" (click)="onEdit(sk_ci_pe2)" *ngIf="isAdmin"><img src="../assets/edit-icon.png" class="img-fluid" alt="edit-icon"></button>
                    </div>
                </div>
                <h4 #sk_ci_na2 id="sk-ci-na2" class="circle-name">{{tecnologias[1].nombreTecnologia}}</h4>
                <button class="btn-edit-skill" (click)="onRemoveSkill(sk_ci_na2)" *ngIf="isAdmin"><img src="../assets/delete-icon.png" class="img-fluid" style="margin-left: 35px;" alt="edit-icon"></button>
                <button class="btn-edit-skill" (click)="onEdit(sk_ci_na2)" *ngIf="isAdmin"><img src="../assets/edit-icon.png" class="img-fluid" alt="edit-icon"></button>
            </div>
        </div>
        <!-- JS -->
        <div class="circle-card" *ngIf="tecnologias[2].idTecnologia != null">
            <div class="circle-wrap">
                <div class="circle">
                    <div class="mask full-3">
                        <div class="fill-3"></div>
                    </div>
                    <div class="mask half">
                        <div class="fill-3"></div>
                    </div>
                    <div class="inside-circle">
                        <div #sk_ci_pe3 >{{tecnologias[2].nivel}}</div>
                        <button class="btn-edit-inside" style="margin-left: 30px;" (click)="onRemovePerc(sk_ci_pe3)" *ngIf="isAdmin"><img src="../assets/delete-icon.png" class="img-fluid" alt="edit-icon"></button>
                        <button class="btn-edit-inside" style="margin-left: 55px;" (click)="onEdit(sk_ci_pe3)" *ngIf="isAdmin"><img src="../assets/edit-icon.png" class="img-fluid" alt="edit-icon"></button>
                    </div>
                </div>
                <h4 #sk_ci_na3 id="sk-ci-na3" class="circle-name">{{tecnologias[2].nombreTecnologia}}</h4>
                <button class="btn-edit-skill" (click)="onRemoveSkill(sk_ci_na3)" *ngIf="isAdmin"><img src="../assets/delete-icon.png" class="img-fluid" style="margin-left: 35px;" alt="edit-icon"></button>
                <button class="btn-edit-skill" (click)="onEdit(sk_ci_na3)" *ngIf="isAdmin"><img src="../assets/edit-icon.png" class="img-fluid" alt="edit-icon"></button>
            </div>
        </div>
    </div>
    <div>
        <!-- TS -->
        <div class="circle-card" style="margin-bottom: 40px;" *ngIf="tecnologias[3].idTecnologia != null">
            <div class="circle-wrap">
                <div class="circle">
                    <div class="mask full-4">
                        <div class="fill-4"></div>
                    </div>
                    <div class="mask half">
                        <div class="fill-4"></div>
                    </div>
                    <div class="inside-circle">
                        <div #sk_ci_pe4>{{tecnologias[3].nivel}}</div>
                        <button class="btn-edit-inside" style="margin-left: 30px;" (click)="onRemovePerc(sk_ci_pe4)" *ngIf="isAdmin"><img src="../assets/delete-icon.png" class="img-fluid" alt="edit-icon"></button>
                        <button class="btn-edit-inside" style="margin-left: 55px;" (click)="onEdit(sk_ci_pe4)" *ngIf="isAdmin"><img src="../assets/edit-icon.png" class="img-fluid" alt="edit-icon"></button>
                    </div>
                </div>
                <h4 #sk_ci_na4 id="sk-ci-na4" class="circle-name">{{tecnologias[3].nombreTecnologia}}</h4>
                <button class="btn-edit-skill" (click)="onRemoveSkill(sk_ci_na4)" *ngIf="isAdmin"><img src="../assets/delete-icon.png" class="img-fluid" style="margin-left: 35px;" alt="edit-icon"></button>
                <button class="btn-edit-skill" (click)="onEdit(sk_ci_na4)" *ngIf="isAdmin"><img src="../assets/edit-icon.png" class="img-fluid" alt="edit-icon"></button>
            </div>
        </div>
        <!-- Angular -->
        <div class="circle-card" *ngIf="tecnologias[4].idTecnologia != null">
            <div class="circle-wrap">
                <div class="circle">
                    <div class="mask full-5">
                        <div class="fill-5"></div>
                    </div>
                    <div class="mask half">
                        <div class="fill-5"></div>
                    </div>
                    <div class="inside-circle">
                        <div #sk_ci_pe5>{{tecnologias[4].nivel}}</div>
                        <button class="btn-edit-inside" style="margin-left: 30px;" (click)="onRemovePerc(sk_ci_pe5)" *ngIf="isAdmin"><img src="../assets/delete-icon.png" class="img-fluid" alt="edit-icon"></button>
                        <button class="btn-edit-inside" style="margin-left: 55px;" (click)="onEdit(sk_ci_pe5)" *ngIf="isAdmin"><img src="../assets/edit-icon.png" class="img-fluid" alt="edit-icon"></button>
                    </div>
                </div>
                <h4 #sk_ci_na5 id="sk-ci-na5" class="circle-name">{{tecnologias[4].nombreTecnologia}}</h4>
                <button class="btn-edit-skill" (click)="onRemoveSkill(sk_ci_na5)" *ngIf="isAdmin"><img src="../assets/delete-icon.png" class="img-fluid" style="margin-left: 35px;" alt="edit-icon"></button>
                <button class="btn-edit-skill" (click)="onEdit(sk_ci_na5)" *ngIf="isAdmin"><img src="../assets/edit-icon.png" class="img-fluid" alt="edit-icon"></button>
            </div>
        </div>
        <!-- Java -->
        <div class="circle-card" *ngIf="tecnologias[5].idTecnologia != null">
            <div class="circle-wrap">
                <div class="circle">
                    <div class="mask full-6">
                        <div class="fill-6"></div>
                    </div>
                    <div class="mask half">
                        <div class="fill-6"></div>
                    </div>
                    <div class="inside-circle" class="inside-circle">
                        <div #sk_ci_pe6>{{tecnologias[5].nivel}}</div>
                        <button class="btn-edit-inside" style="margin-left: 30px;" (click)="onRemovePerc(sk_ci_pe6)" *ngIf="isAdmin"><img src="../assets/delete-icon.png" class="img-fluid" alt="edit-icon"></button>
                        <button class="btn-edit-inside" style="margin-left: 55px;" (click)="onEdit(sk_ci_pe6)" *ngIf="isAdmin"><img src="../assets/edit-icon.png" class="img-fluid" alt="edit-icon"></button>
                    </div>
                </div>
                <h4 #sk_ci_na6 id="sk-ci-na6" class="circle-name">{{tecnologias[5].nombreTecnologia}}</h4>
                <button class="btn-edit-skill" (click)="onRemoveSkill(sk_ci_na6)" *ngIf="isAdmin"><img src="../assets/delete-icon.png" class="img-fluid" style="margin-left: 35px;" alt="edit-icon"></button>
                <button class="btn-edit-skill" (click)="onEdit(sk_ci_na6)" *ngIf="isAdmin"><img src="../assets/edit-icon.png" class="img-fluid" alt="edit-icon"></button>
            </div>
        </div>
    </div>
</div>
