
#sk-div {
    margin-bottom: 30px;
    border: 2px solid #004D90;
    border-radius: 25px;
}

#sk-title {
    margin-left: 70px;
    margin-top: 40px;
    margin-bottom: 20px;
}

.btn-edit-skill {
    margin-left: auto;
    margin-right: auto;
    border: 0px;
    background-color: transparent;
}

.btn-edit-inside {
    position: absolute;
    left: 0;
    top: 30px;
    bottom: 0;
    border: 0px;
    background-color: transparent;
}

/* Porcentajes */

.circle-card {
    width: fit-content;
    display: inline-block;
    margin-top: 30px;
    margin-left: 65px;
    border: 1px solid #004D90;
    border-radius: 20px;
    box-shadow:  1px 1px #004D90;
    background: #005EB0;
}

.circle-name {
    margin-top: 150px; 
    text-align: center;
}

.circle-wrap {
    width: 150px;
    height: 150px;
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 50px;
    display: inline-block;
    border-radius: 50%;
    background: white;
  }

.circle-wrap .circle .mask, 
.circle-wrap .circle .fill-1,
.circle-wrap .circle .fill-2,
.circle-wrap .circle .fill-3, 
.circle-wrap .circle .fill-4,
.circle-wrap .circle .fill-5,
.circle-wrap .circle .fill-6 {
    position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.circle-wrap .circle .mask {
    clip: rect(0px, 150px, 150px, 75px);
}

/* Circulo 1 */
.mask .fill-1 {
    clip: rect(0px, 75px, 150px, 0px);
    background-color: aqua;
}

.mask.full-1,
.circle .fill-1 {
    animation: fill-1 ease-in-out 1.5s;
    transform: rotate(135deg);
}

@keyframes fill-1 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(135deg);
    }
}

/* Circulo 2 */
.mask .fill-2 {
    clip: rect(0px, 75px, 150px, 0px);
    background-color: aqua;
}

.mask.full-2,
.circle .fill-2 {
    animation: fill-2 ease-in-out 1.5s;
    transform: rotate(135deg);
}

@keyframes fill-2 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(135deg);
    }
}

/* Circulo 3 */
.mask .fill-3 {
    clip: rect(0px, 75px, 150px, 0px);
    background-color: aqua;
}

.mask.full-3,
.circle .fill-3 {
    animation: fill-3 ease-in-out 1.5s;
    transform: rotate(126deg);
}

@keyframes fill-3 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(126deg);
    }
}

/* Circulo 4 */
.mask .fill-4 {
    clip: rect(0px, 75px, 150px, 0px);
    background-color: aqua;
}

.mask.full-4,
.circle .fill-4 {
    animation: fill-4 ease-in-out 1.5s;
    transform: rotate(126deg);
}

@keyframes fill-4 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(126deg);
    }
}

/* Circulo 5 */
.mask .fill-5 {
    clip: rect(0px, 75px, 150px, 0px);
    background-color: aqua;
}

.mask.full-5,
.circle .fill-5 {
    animation: fill-5 ease-in-out 1.5s;
    transform: rotate(108deg);
}

@keyframes fill-5 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(108deg);
    }
}

/* Circulo 6 */
.mask .fill-6 {
    clip: rect(0px, 75px, 150px, 0px);
    background-color: aqua;
}

.mask.full-6,
.circle .fill-6 {
    animation: fill-6 ease-in-out 1.5s;
    transform: rotate(126deg);
}

@keyframes fill-6 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(126deg);
    }
}

.inside-circle {
    position: absolute;
    width: 124px;
    height: 124px;
    margin-top: 13px;
    margin-left: 13px;
    background: #005EB0;
    line-height: 120px;
    z-index: 100;
    text-align: center;
    font-weight: 700;
    font-size: 2em;
    color: white;
    border-radius: 50%;
}