 
<!-- ng generate component components/header -->

<header>
    <a class="link" href="https://argentinaprograma.inti.gob.ar/" target="_blank">
        <img src="../assets/argprograma.png" id="header-logo" class="img-fluid" alt="arg-programa">
        <h5 id="header-title">Argentina Programa #YoProgramo</h5>
    </a>
    <h5> 
        <a class="link" href="https://github.com/carlo-renosto" target="_blank">
            <img src="../assets/github-logo.png" id="header-logo-2" class="img-fluid" alt="github">
        </a>
    </h5>
    <button id="header-login" class="btn btn-primary" (click)="loginClick()">Login</button>
</header>