
h3 {
    margin-left: 70px;
}

#root {
    display: block;
}

/* Seccion experiencia */

/* Seccion educacion */

/* Seccion skills */

/* Seccion proyectos */

.link {
    text-decoration: none;
    color: inherit;
}

.item_center {
    margin: auto;
    width: fit-content;
}

.border_round {
    border-radius: 20px;
    padding: 15px;
}

.paragraph_align {
    width: fit-content;
    margin-left: 65px; 
    margin-top: 20px; 
    box-shadow: 5px 5px;
}

/* Botones (Edición) */

.btn-edit {
    display: none;
    position: relative;
    float: right;
    border: 0px;
    background-color: transparent; 
}

#btn-edit-1 {
    left: 25px;
    top: 70px;
}
#btn-remove-1 {
    left: 20px;
    top: 70px;
}





