
<div id="ed-div-root" class="container-fluid" *ngIf="educaciones && educaciones.length > 0">
    <h3 id="ed-div-root-title">Educación</h3>
    <div>
        <!-- Educacion 1 -->
        <div class="ed-div" style="width: 600px; display: inline-block;" *ngIf="educaciones[0].id != null">
            <p #ed1_p1 class="ed-title">{{educaciones[0].nombreCarrera}}</p>
            <button class="btn-edit" (click)="onEdit(ed1_p1)" *ngIf="isAdmin"><img src="../assets/edit-icon.png" class="img-fluid" alt="edit-icon"></button>
            <button class="btn-edit" (click)="onRemove(ed1_p1)" *ngIf="isAdmin"><img src="../assets/delete-icon.png" class="img-fluid" alt="delete-icon"></button>
            <hr>
            <div>
                <p #ed1_p2 class="ed-paragraph">{{educaciones[0].estadoS}}</p>
                <button class="btn-edit" (click)="onEdit(ed1_p2)" *ngIf="isAdmin"><img src="../assets/edit-icon.png" class="img-fluid" alt="edit-icon"></button>
                <button class="btn-edit" (click)="onRemove(ed1_p2)" *ngIf="isAdmin"><img src="../assets/delete-icon.png" class="img-fluid" alt="delete-icon"></button>
            </div>
            <div>
                <p #ed1_p3 class="ed-paragraph">{{educaciones[0]['añoInicio']}} - {{educaciones[0]['añoFin']}}</p>
                <button class="btn-edit" (click)="onEdit(ed1_p3)" *ngIf="isAdmin"><img src="../assets/edit-icon.png" class="img-fluid" alt="edit-icon"></button>
                <button class="btn-edit" (click)="onRemove(ed1_p3)" *ngIf="isAdmin"><img src="../assets/delete-icon.png" class="img-fluid" alt="delete-icon"></button>
            </div>
            <div>
                <p #ed1_p4 class="ed-paragraph">Institución: {{educaciones[0].nombreInstitucion}}</p>
                <button class="btn-edit" (click)="onEdit(ed1_p4)" *ngIf="isAdmin"><img src="../assets/edit-icon.png" class="img-fluid" alt="edit-icon"></button>
                <button class="btn-edit" (click)="onRemove(ed1_p4)" *ngIf="isAdmin"><img src="../assets/delete-icon.png" class="img-fluid" alt="delete-icon"></button>
            </div>
        </div>
        <!-- Educacion 2 -->
        <div class="ed-div" style="width: 600px; display: inline-block;" *ngIf="educaciones[1].id != null">
            <p #ed1_p5 class="ed-title">{{educaciones[1].nombreCarrera}}</p>
            <button class="btn-edit" (click)="onEdit(ed1_p5)" *ngIf="isAdmin"><img src="../assets/edit-icon.png" class="img-fluid" alt="edit-icon"></button>
            <button class="btn-edit" (click)="onRemove(ed1_p5)" *ngIf="isAdmin"><img src="../assets/delete-icon.png" class="img-fluid" alt="delete-icon"></button>
            <hr>
            <div>
                <p #ed1_p6 class="ed-paragraph">{{educaciones[1].estadoS}}</p>
                <button class="btn-edit" (click)="onEdit(ed1_p6)" *ngIf="isAdmin"><img src="../assets/edit-icon.png" class="img-fluid" alt="edit-icon"></button>
                <button class="btn-edit" (click)="onRemove(ed1_p6)" *ngIf="isAdmin"><img src="../assets/delete-icon.png" class="img-fluid" alt="delete-icon"></button>
            </div>
            <div>
                <p #ed1_p7 class="ed-paragraph">{{educaciones[1]['añoInicio']}} - {{educaciones[1]['añoFin']}}</p>
                <button class="btn-edit" (click)="onEdit(ed1_p7)" *ngIf="isAdmin"><img src="../assets/edit-icon.png" class="img-fluid" alt="edit-icon"></button>
                <button class="btn-edit" (click)="onRemove(ed1_p7)" *ngIf="isAdmin"><img src="../assets/delete-icon.png" class="img-fluid" alt="delete-icon"></button>
            </div>
            <div>
                <a #ed1_p8 class="ed-paragraph" href="https://www.frgp.utn.edu.ar/" target="_blank">
                    <img src="../assets/utn-logo.png" class="ed-logo" alt="utn-logo" style="margin-right: 110px;">
                    <p class="ed-place">Institución: {{educaciones[1].nombreInstitucion}}</p>
                </a>
                <button class="btn-edit" (click)="onEditLink($event, ed1_p8)" *ngIf="isAdmin"><img src="../assets/edit-icon.png" class="img-fluid" alt="edit-icon"></button>
                <button class="btn-edit" (click)="onRemove(ed1_p8)" *ngIf="isAdmin"><img src="../assets/delete-icon.png" class="img-fluid" alt="delete-icon"></button>
            </div>
        </div>
    </div>

    <div>
        <!-- Educacion 3 -->
        <div class="ed-div" style="width: 600px; display: inline-block;" *ngIf="educaciones[2].id != null">
            <p #ed1_p9 class="ed-title">{{educaciones[2].nombreCarrera}}</p>
            <button class="btn-edit" (click)="onEdit(ed1_p9)" *ngIf="isAdmin"><img src="../assets/edit-icon.png" class="img-fluid" alt="edit-icon"></button>
            <button class="btn-edit" (click)="onRemove(ed1_p9)" *ngIf="isAdmin"><img src="../assets/delete-icon.png" class="img-fluid" alt="delete-icon"></button>
            <hr>
            <div>
                <p #ed1_p10 class="ed-paragraph">{{educaciones[2].estadoS}}</p>
                <button class="btn-edit" (click)="onEdit(ed1_p10)" *ngIf="isAdmin"><img src="../assets/edit-icon.png" class="img-fluid" alt="edit-icon"></button>
                <button class="btn-edit" (click)="onRemove(ed1_p10)" *ngIf="isAdmin"><img src="../assets/delete-icon.png" class="img-fluid" alt="delete-icon"></button>
            </div>
            <div>
                <p #ed1_p11 class="ed-paragraph">{{educaciones[2]['añoInicio']}} - {{educaciones[2]['añoFin']}}</p>
                <button class="btn-edit" (click)="onEdit(ed1_p11)" *ngIf="isAdmin"><img src="../assets/edit-icon.png" class="img-fluid" alt="edit-icon"></button>
                <button class="btn-edit" (click)="onRemove(ed1_p11)" *ngIf="isAdmin"><img src="../assets/delete-icon.png" class="img-fluid" alt="delete-icon"></button>
            </div>
            <div>
                <a #ed1_p12 class="ed-paragraph" href="http://www.idiomas.filo.uba.ar/" target="_blank">
                    <img src="../assets/uba-logo.png" class="ed-logo" alt="uba-logo" style="margin-right: 180px;">
                    <p class="ed-place">Institución: {{educaciones[2].nombreInstitucion}}</p>
                </a>
                <button class="btn-edit" (click)="onEditLink($event, ed1_p12)" *ngIf="isAdmin"><img src="../assets/edit-icon.png" class="img-fluid" alt="edit-icon"></button>
                <button class="btn-edit" (click)="onRemove(ed1_p12)" *ngIf="isAdmin"><img src="../assets/delete-icon.png" class="img-fluid" alt="delete-icon"></button>
            </div>
        </div>

        <!-- Educacion 4 -->
        <div class="ed-div" style="width: 600px; display: inline-block; margin-bottom: 40px;" *ngIf="educaciones[3].id != null">
            <p #ed1_p13 class="ed-title">{{educaciones[3].nombreCarrera}}</p>
            <button class="btn-edit" (click)="onEdit(ed1_p13)" *ngIf="isAdmin"><img src="../assets/edit-icon.png" class="img-fluid" alt="edit-icon"></button>
            <button class="btn-edit" (click)="onRemove(ed1_p13)" *ngIf="isAdmin"><img src="../assets/delete-icon.png" class="img-fluid" alt="delete-icon"></button>
            <hr>
            <div>
                <p #ed1_p14 class="ed-paragraph">{{educaciones[3].estadoS}}</p>
                <button class="btn-edit" (click)="onEdit(ed1_p14)" *ngIf="isAdmin"><img src="../assets/edit-icon.png" class="img-fluid" alt="edit-icon"></button>
                <button class="btn-edit" (click)="onRemove(ed1_p14)" *ngIf="isAdmin"><img src="../assets/delete-icon.png" class="img-fluid" alt="delete-icon"></button>
            </div>
            <div>
                <p #ed1_p15 class="ed-paragraph">{{educaciones[3]['añoInicio']}} - {{educaciones[3]['añoFin']}}</p>
                <button class="btn-edit" (click)="onEdit(ed1_p15)" *ngIf="isAdmin"><img src="../assets/edit-icon.png" class="img-fluid" alt="edit-icon"></button>
                <button class="btn-edit" (click)="onRemove(ed1_p15)" *ngIf="isAdmin"><img src="../assets/delete-icon.png" class="img-fluid" alt="delete-icon"></button>
            </div>
            <div>
                <a #ed1_p16 class="ed-paragraph" href="http://www.idiomas.filo.uba.ar/" target="_blank">
                    <img src="../assets/uba-logo.png" class="ed-logo" alt="uba-logo" style="margin-right: 180px;">
                    <p class="ed-place">Institución: {{educaciones[3].nombreInstitucion}}</p>
                </a>
                <button class="btn-edit" (click)="onEditLink($event, ed1_p16)" *ngIf="isAdmin"><img src="../assets/edit-icon.png" class="img-fluid" alt="edit-icon"></button>
                <button class="btn-edit" (click)="onRemove(ed1_p16)" *ngIf="isAdmin"><img src="../assets/delete-icon.png" class="img-fluid" alt="delete-icon"></button>
            </div>
        </div>
    </div>
</div>